// Файл обнуляющих стилей
@import "nullstyle.scss";

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova_regular.eot");
  src: local("☺"), url("../fonts/proximanova_regular.woff") format("woff"),
    url("../fonts/proximanova_regular.ttf") format("truetype"),
    url("../fonts/proximanova_regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova_bold.eot");
  src: local("☺"), url("../fonts/proximanova_bold.woff") format("woff"),
    url("../fonts/proximanova_bold.ttf") format("truetype"),
    url("../fonts/proximanova_bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Medium.eot");
  src: local("Circular Std Medium"), local("../fonts/CircularStd-Medium"),
    url("../fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CircularStd-Medium.woff2") format("woff2"),
    url("../fonts/CircularStd-Medium.woff") format("woff"),
    url("../fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Bold.eot");
  src: local("Circular Std Bold"), local("../fonts/CircularStd-Bold"),
    url("../fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CircularStd-Bold.woff2") format("woff2"),
    url("../fonts/CircularStd-Bold.woff") format("woff"),
    url("../fonts/CircularStd-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std Book";
  src: url("../fonts/CircularStd-Book.eot");
  src: local("Circular Std Book"), local("../fonts/CircularStd-Book"),
    url("../fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CircularStd-Book.woff2") format("woff2"),
    url("../fonts/CircularStd-Book.woff") format("woff"),
    url("../fonts/CircularStd-Book.ttf") format("truetype");
  font-weight: 450;
  font-style: normal;
}
/* ---====================== Container =======================--- */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Proxima Nova";
  font-style: normal;
  background-color: #f9f4f4;
  /* overflow-x: hidden; */
}

.none {
  display: none;
}

$title: calc(34px + 18 * ((100vw - 320px) / (1200 - 320)));
$name: calc(16px + 12 * ((100vw - 320px) / (1200 - 320)));
$text: calc(14px + 6 * ((100vw - 320px) / (1200 - 320)));

@mixin name {
  display: inline-block;

  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #f78cb6;
  margin-bottom: 15px;
}

@mixin title {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 62px;
  color: #56597a;
  margin-bottom: 24px;
}

@mixin text {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #919299;
  margin-bottom: 40px;
}
@mixin btn {
  position: relative;
  display: inline-block;

  border-radius: 4px;
  overflow: hidden;
}
@mixin btn-link {
  padding: 14px 62px 14px 14px;

  display: inline-block;

  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #ffffff;

  background: #f78bb6;
  border-radius: 4px;
  transition: all 0.2s linear;
}

@mixin btn-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 13px;

  height: 28px;
  width: 28px;

  background: rgba(255, 193, 218, 0.28);
  border: 1.5px solid #ffffff;
  border-radius: 2px;

  pointer-events: none;
  img {
    position: relative;
    top: 51%;
    transform: translateY(-50%);
    right: 10px;

    width: 28px;
  }
}

/* ---======================== Nav =======================--- */

.nav {
  padding-top: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 130px;
  &__logo {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #56597a;
    letter-spacing: 0.02em;
    span {
      color: #f087b1;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:first-child) {
      margin-left: 73px;
    }
  }

  &__link {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #aaaaab;
    transition: all 0.1s linear;
    &:hover {
      color: #56597a;
    }
  }
}
.burger {
  display: none;
}

/* ---===================== header ======================--- */

.header {
  position: relative;

  padding-bottom: 100px;
  &::after {
    content: url(../img/bloobs/bloobs-line1.png);

    position: absolute;
    top: 0;
    right: 0;

    z-index: -10;
  }
  &::before {
    content: url(../img/bloobs/bloobs-1.png);

    background: rgba(252, 242, 246, 0.61);
    position: absolute;
    top: 0;
    right: 0;

    z-index: -10;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__content {
    max-width: 600px;
    position: relative;
    z-index: 1;
  }

  &__name {
    position: relative;
    padding-left: 43px;

    font-family: "Circular Std";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    font-size: $name;
    color: #f78cb6;

    margin-bottom: 39px;
    &::before {
      content: "";
      width: 36px;
      height: 3px;

      position: absolute;
      bottom: 0;
      left: 0;

      background: #f78cb6;
    }
  }

  &__title {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    font-size: $title;
    line-height: 74px;
    color: #56597a;

    margin-bottom: 31px;
  }

  &__text {
    max-width: 537px;

    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    font-size: $text;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #919299;

    margin-bottom: 42px;
  }

  &__btn {
    position: relative;
    display: inline-block;

    border-radius: 4px;
    overflow: hidden;
  }

  &__btn-link {
    padding: 18px 85px 18px 22px;

    display: inline-block;

    font-family: "Circular Std";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #ffffff;

    background: #f78bb6;
    border-radius: 4px;
    transition: all 0.2s linear;

    &:hover {
      background: #e7669a;
    }
  }

  &__btn-img {
    position: absolute;
    top: 10px;
    right: 23px;

    height: 32px;
    width: 32px;

    background: rgba(255, 193, 218, 0.28);
    border: 1.5px solid #ffffff;
    border-radius: 2px;

    pointer-events: none;
    img {
      position: relative;
      top: 51%;
      transform: translateY(-50%);
      right: 10px;
    }
  }

  &__img-cont {
    position: relative;
    flex-grow: 1;
  }

  &__img {
    position: absolute;
    top: -40px;
    right: 0;

    width: 532px;
    height: 532px;

    pointer-events: none;
    z-index: -1;
  }
}

.burger {
  position: relative;
  cursor: pointer;

  display: none;
  width: 40px;
  height: 30px;

  &::after,
  &::before {
    content: "";

    position: absolute;
    left: 0;

    width: 100%;
    height: 4px;

    background-color: #56597a;
    border-radius: 50px;
  }
  &::before {
    bottom: 0;
  }
  &::after {
    top: 0;
  }
  &__line {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;
    height: 4px;
    background-color: #56597a;
    border-radius: 50px;

    transition: all 0.2s;
  }
  &__active .burger__line {
    opacity: 0;
    transform: rotate(180deg);
  }
  &__active::after {
    top: 50%;
    transform: rotate(45deg);
  }
  &__active::before {
    top: 50%;
    transform: rotate(-45deg);
  }
}
/* ---==================== Services ========================--- */
.services {
  position: relative;

  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;

  &::before {
    content: url(../img/bloobs/Bloobs-2.png);

    position: absolute;
    left: 0;
    top: -100px;
    z-index: -10;
  }

  &__text {
    margin-bottom: 6px;
    display: inline-block;

    font-family: "Circular Std";
    font-style: normal;
    font-weight: 500;
    font-size: $name;
    line-height: 40px;
    color: #f78cb6;

    transition: all 0.1s linear;

    &:hover {
      color: #e7669a;
    }
  }

  &__title {
    margin-bottom: 58px;

    font-family: "Circular Std";
    font-style: normal;
    font-weight: 700;
    font-size: $title;
    line-height: 72px;
    color: #56597a;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item-wrapper {
    flex: 1 1 270px;

    min-height: 344px;
  }

  &__item {
    padding: 10px 10px 41px 10px;

    background: #fff1f9;
    border-radius: 8px;
    max-height: 307px;
    transition: all 0.3s linear;
    &:hover {
      background: #f78cb6;
      min-height: 344px;
    }
    &:hover .services__img {
      fill: #fff;
    }
    &:hover .services__item-title,
    &:hover .services__item-text {
      color: #fff;
    }
    &:hover .services__item-link {
      display: inline-block;
    }
  }
  &__img {
    margin-top: 56px;
    margin-bottom: 42px;

    width: 49px;
    height: 43px;

    fill: #f78cb6;
  }

  &__item-title {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 72px;
    color: #56597a;
  }

  &__item-text {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #919299;

    margin-bottom: 30px;
  }

  &__item-link {
    position: relative;

    display: none;

    font-family: "Circular Std";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #fff;

    transition: all 0.2s;
    &:hover {
      color: #56597a;
    }
    &:hover.services__item-link::after {
      border-color: transparent transparent transparent #56597a;
    }
    &::after {
      content: "";

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 10px;

      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6.5px 0 6.5px 7px;
      border-color: transparent transparent transparent #ffffff;

      transition: all 0.2s;
    }
  }
}
/* ---==================== Design ========================--- */

.design {
  padding-top: 100px;
  padding-bottom: 100px;
  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: 79px;
  }

  &__img-cont {
    position: relative;
    flex-grow: 1;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;

    width: 570px;
    height: 472px;

    pointer-events: none;
    z-index: -1;
  }

  &__content {
    max-width: 482px;
    position: relative;
    z-index: 1;
  }

  &__name {
    @include name;
    transition: all 0.1s linear;
    font-size: $name;
    &:hover {
      color: #e7669a;
    }
  }

  &__title {
    @include title;
    font-size: $title;
  }

  &__text {
    @include text;
    font-size: $text;
  }

  &__btn {
    @include btn;
  }

  &__btn-link {
    @include btn-link;
    &:hover {
      background: #e7669a;
    }
  }

  &__btn-img {
    @include btn-img;
  }
}
/* ---==================== Team ========================--- */
.team {
  position: relative;

  padding-top: 100px;
  padding-bottom: 100px;
  &::before {
    content: url(../img/bloobs/Bloobs-3.png);

    position: absolute;
    top: -170px;
    right: 0;

    z-index: -10;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
  }

  &__content {
    max-width: 488px;
    position: relative;
    z-index: 1;
  }

  &__name {
    @include name;
    transition: all 0.1s linear;
    font-size: $name;
    &:hover {
      color: #e7669a;
    }
  }

  &__title {
    @include title;
    font-size: $title;
  }

  &__text {
    @include text;
    font-size: $text;
  }

  &__btn {
    @include btn;
  }

  &__btn-link {
    @include btn-link;
    &:hover {
      background: #e7669a;
    }
  }

  &__btn-img {
    @include btn-img;
  }

  &__img-cont {
    position: relative;
    flex-grow: 1;
  }

  &__img {
    position: absolute;
    top: -70px;
    right: 0;

    width: 587px;
    height: 587px;

    pointer-events: none;
    z-index: -1;
  }
}

/* ---==================== Testimonials ========================--- */
.testimonials {
  position: relative;

  padding-top: 100px;
  padding-bottom: 100px;
  &::before {
    content: url(../img/bloobs/Bloobs-4.png);

    position: absolute;
    top: -150px;
    left: 0;
    z-index: -10;
  }
  &__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 137px;
    margin-left: 50px;
  }

  &__img-cont {
    position: relative;
    width: 416px;
    height: 418px;

    background: #f78cb6;
    border-radius: 8px;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  &__content {
    max-width: 506px;
    flex-grow: 1;
  }

  &__name {
    @include name;
    transition: all 0.1s linear;
    font-size: $name;

    &:hover {
      color: #e7669a;
    }
  }

  &__title {
    @include title;
    font-size: $title;
  }

  &__text {
    @include text;
    max-width: 400px;
    font-size: $text;
  }

  &__person-name {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: #56597a;
    margin-bottom: 5px;
  }

  &__address {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #ababab;
  }
}
/* ---==================== Firm ========================--- */

.firm {
  padding-top: 60px;
  padding-bottom: 50px;
  &__svg-cont {
    margin: 20px;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 25%;
  }

  &__inner-svg {
    height: 40px;
    width: 140px;
    fill: #c1c1c1;
    transition: all 0.1s linear;
    &:hover {
      fill: #56597a;
    }
  }
}
/* ---==================== Subscribe ========================-- */
.subscribe {
  position: relative;

  font-family: "Proxima Nova";
  font-style: normal;
  padding-top: 100px;
  padding-bottom: 100px;
  &::before {
    content: url(../img/Messagesent.png);

    position: absolute;
    left: 0;
    top: 100px;
    z-index: -10;
  }
  &::after {
    content: url(../img/bloobs/Bloobs-5.png);

    position: absolute;
    right: 0;
    top: 50px;
    z-index: -10;
  }
  &__inner {
    max-width: 706px;
    margin: 0 auto;

    text-align: center;
  }

  &__title {
    @include title;
    font-size: $title;
  }

  &__text {
    @include text;
    max-width: 635px;
    margin: 0 auto 50px;
    font-size: $text;
  }
  &__input-wrapper {
    position: relative;
    height: 120px;
  }
  &__input {
    width: 706px;
    height: 82px;
    padding: 20px 220px 20px 20px;

    background: #ffffff;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

    font-size: 20px;
    color: #56597a;
    &::placeholder {
      padding-left: 30px;

      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      color: #d2d2d2;
    }
    &:focus {
      background-color: #f0eaed;
    }
  }

  &__btn-inner {
    position: absolute;
    top: 15px;
    right: 13px;
  }

  &__btn {
    padding: 12px 69px 12px 17px;

    font-weight: 450;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #ffffff;

    background: #f78cb6;
    border-radius: 4px;
    border: none;
  }

  &__btn-img {
    @include btn-img;
  }
}

/* ---==================== Footer ========================--- */
.footer {
  position: relative;
  /*  &::after {
    content: url(../img/bloobs/bloobs-6.png);
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 100%;
    height: 100%;

    z-index: -10;
  }
  &::before {
    content: url(../img/bloobs/bloobs-line6.png);
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -10;
  } */

  padding-top: 100px;
  &__inner {
    display: flex;

    flex-wrap: wrap;
    gap: 211px;
  }

  &__col-1 {
    min-width: 297px;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 38px;

    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: #56597a;
    span {
      color: #f78cb6;
    }
  }

  &__address {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #919299;
    p {
      &:not(:first-child) {
        margin-bottom: 38px;
      }
    }
  }

  &__follow {
    margin-bottom: 16px;

    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #919299;
  }
  &__svg-cont {
    max-width: 200px;
    display: flex;
    justify-content: space-between;
  }
  &__svg-item {
    width: 41px;
    height: 41px;

    background-color: #fff;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.1s linear;
    &:hover .footer__svg {
      fill: #f78cb6;
    }
    &:hover {
      background-color: rgb(241, 233, 233);
    }
  }
  &__svg {
    width: 21px;
    height: 21px;

    fill: #a7a7a7;
    transition: all 0.1s linear;
  }
}

.footer {
  &__col-2 {
    flex-grow: 1;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__contentBx {
    padding: 0 15px;
  }

  &__togle-link {
    display: inline-block;
    margin-bottom: 37px;

    font-family: "Circular Std";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #56597a;
  }

  &__list {
  }

  &__item {
  }

  &__link {
    display: inline-block;
    margin-bottom: 25px;

    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #919299;

    transition: all 0.2s;
    &:hover {
      color: #4f5272;
    }
  }
  &__bottom {
    background: #f78cb6;
    margin-top: 40px;
  }
  &__copyright {
    display: inline-block;
    padding: 10px 0;
    padding-left: 150px;

    font-family: "Circular Std";
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
}

/* ---==================== Media ========================--- */
@media (max-width: 1218px) {
  .testimonials__row {
    margin-left: 0;
    gap: 50px;
  }
}
@media (max-width: 1100px) {
  .design__img-cont {
    display: none;
  }
  .design__row {
    justify-content: center;
  }

  .team__img-cont {
    display: none;
  }
  .team__row {
    justify-content: center;
  }
  .team__content {
    max-width: 482px;
  }
}
@media (max-width: 1050px) {
  .header__row {
    justify-content: center;
  }
  .header__content {
    /* flex-grow: 1; */
  }
  .header__img-cont {
    display: none;
  }
  .subscribe::before {
    display: none;
  }
  .footer__inner {
    gap: 100px;
  }
}
@media (max-width: 1001px) {
  .testimonials__row {
    justify-content: center;
  }
  .testimonials__img-cont {
    display: none;
  }
  .testimonials__text {
    max-width: 100%;
  }
}
@media (max-width: 800px) {
  .nav__list {
    display: none;
  }
  .burger {
    display: block;
  }
  .nav_mobile {
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    padding: 20px;

    flex-direction: column;
    justify-content: center;

    background: #fff;
    z-index: 10;
  }
  .nav_mobile .nav__logo {
    margin-bottom: 200px;
  }
  .nav_mobile .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav_mobile .nav__item {
    padding: 25px;

    &:not(:first-child) {
      margin-left: 0px;
    }
  }
  .nav_mobile .burger {
    display: block;
    position: fixed;
    top: 60px;
    right: 20px;
  }
  .header__title {
    line-height: 50px;
  }
  .header__text {
    line-height: 26px;
  }
  .services__title {
    line-height: 50px;
  }
  .services__item-link {
    /* padding-top: 5px; */
    display: block;
    color: #6a6e91;
  }
  .services__item {
    padding: 10px 20px 41px 20px;
    height: 344px;
    background-color: #ebe1e5;
  }
  .services__item-wrapper {
    background-color: #ebe1e5;
    border-radius: 8px;
  }
  .services__item-link::after {
    border-color: transparent transparent transparent #56597a;
  }
  .design__title {
    line-height: 50px;
  }
  .design__text {
    line-height: 26px;
  }
  .team__title {
    line-height: 50px;
  }
  .team__text {
    line-height: 26px;
  }
  .subscribe__input {
    width: 100%;
  }
}

@media (max-width: 541px) {
  .subscribe__btn-inner {
    top: 90px;
    right: 0;
  }
  .subscribe__btn {
    padding: 6px;
  }
  .subscribe__btn-img {
    display: none;
  }
  .subscribe__input {
    padding-right: 20px;
    &::placeholder {
    }
  }
}

@media (max-width: 541px) {
  .footer__wrapper {
    flex-direction: column;
  }
  .footer__contentBx {
    margin-bottom: 40px;
  }
  .footer__col-1 {
    margin: 0 auto;
    text-align: center;
  }
  .footer__link {
    margin-bottom: 0;
  }
  .footer__togle-link {
    margin-bottom: 20px;
  }
  .footer__svg-cont {
    min-width: 100%;
  }
  .footer__copyright {
    padding-left: 10px;
  }
}
